{% extends 'header.html'%}

{% block title %} Company List {% endblock %}

{% block content %} 

<table class="table table-hover">
    <tr>
        {% for details in db_head %}
                <th>{{(details).capitalize()}}</th>
        {% endfor %}
        <th>tk on.</th>
        <th>tk Comp.</th>
        <th>tk pnd.</th>
        <th>tk susp.</th>
        </tr>

        {% for details in data %}
        <tr>
            <td class="col-2"><a href="{{url_for('task_list', company=details.id, status='None')}}">{{details.name}}</a></td>
            <td>{{details.location}}</td>
            <td>{{details.contact_name}}</td>
            <td>{{details.contact}}</td>
            <td>{{details.mail}}</td>
            <td>{{info[details.name][0]}}</td>
            <td>{{info[details.name][1]}}</td>
             <td>{{info[details.name][2]}}</td>
            <td>{{info[details.name][3]}}</td>
            <td><a href="{{url_for('editCompany', company_id=details.id)}}"><button type="button" class="btn btn-success">Edit Company</button></a></td>
        </tr>
        {% endfor %}
  </table>

  
    <div class="dropdown-content">
    <div class='row'>
        <div class='col-2'>
            <a href="{{url_for('addCompany')}}"><button type="button" class="btn btn-primary">Add Company</button></a>
        </div>
        
    </div>
    </div>

{% endblock %}





