<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{%block title%} {% endblock %}</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if current_user.is_authenticated == False %}
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Welcome</a>
          </li>
        {% else %}
            {% if current_user.privilege == "Administrator" %}
              <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('all_staffs', staff='None')}}">Staffs</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="{{url_for('companyList')}}">Company</a>
          </li>
              <li class="nav-item">
          <a class="nav-link" href="{{url_for('task_list', company='all-task')}}">Task </a>
        </li>

            {% else %}
              <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('staffprofile', staff='None')}}">Profile</a>
          </li>
              <li class="nav-item">
            <a class="nav-link" href="{{url_for('to_do')}}">TO-DO</a>
          </li>
              <li class="nav-item">
          <a class="nav-link" href="{{url_for('taskboard')}}">Task</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" href="{{url_for('requestLeave')}}">Request Leave</a>
        </li>
            {% endif %}
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Message
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{url_for('inbox')}}">Inbox</a></li>
            <li><a class="dropdown-item" href="{{url_for('compose_message', recipient='None')}}">Compose New Message</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('outbox')}}">OutBox</a></li>
          </ul>
        </li>

      </ul>
        {% if webpage == 'company' %}
      <form class="d-flex" action="{{url_for('companyList')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% elif webpage == 'staff' %}
      <form class="d-flex" action="{{url_for('all_staffs')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% elif webpage == 'task' %}
      <form class="d-flex" action="{{url_for('task_list', company='all-task')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% elif webpage == 'inbox' %}
      <form class="d-flex" action="{{url_for('inbox')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% elif webpage == 'outbox' %}
      <form class="d-flex" action="{{url_for('outbox')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% elif webpage == 'taskboard' %}
      <form class="d-flex" action="{{url_for('taskboard')}}" method="post"  >
        <input class="form-control me-2" type="search" placeholder="Search" name="search_query" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% endif %}
        {% endif %}
      <a href="{{url_for('user_logout')}}"><button type="button" class="btn btn-danger">log out</button></a>

    </div>
  </div>
</nav>


{% include 'flashmessage.html' %}
        {% block content %}


        {% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>