{% extends 'header.html' %}

    {% block title %} Task Details {% endblock%}
    {% block content%}
    {% from 'bootstrap5/form.html' import render_form %}
    <table class="table table-hover">
        <tr>
        {% if current_user.id == 1 %}
            {% for details in db_head %}
                <th>{{details.upper()}}</th>
            {% endfor %}
        {% else %}
            {% for details in db_head[:-1] %}
                {% if current_user.privilege != "Administrator" %}
                    {% if details not in ('cost', 'payment', 'Balance')%}
                        <th>{{details.upper()}}</th>
                    {% endif %}
                {% else %}
                    <th>{{details.upper()}}</th>
                {% endif %}
            {% endfor %}
        {% endif %}
        </tr>


        <tr>


                <td>{{task.task_id}}</td>
                <td>{{task.company_name.name.capitalize()}}</td>
                <td>{{task.task_name.capitalize()}}</td>
                <td>{{task.location}}</td>
                <td>
                    {% if staff|length == 0 %}
                        No staff assigned
                    {% elif staff|length > 0 %}
                        <ul>
                        {% for person in staff %}
                             <li>{{person['name']}} : {{person['status']}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            {% if current_user.privilege == "Administrator" %}
                <td>{{task.cost}}</td>
                <td>{{task.payment}}</td>
                <td>{{task.cost - task.payment}}</td>
            {% endif %}
                <td>{{task.startDate}}</td>
                <td>{{task.status}}</td>
            {% if current_user.privilege == "Administrator" %}
                <td><a href="{{url_for('editTask',taskid=task_id)}}">
                    <button type="button" class="btn btn-success">Edit</button>
                </a></td>
            {% endif %}


        </tr>
    </table>

    <div class="col-8">
        {{render_form(form)}}
    </div>


{% for post in posts %}
<div class="col-8">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{post.author_name.id_name}}</h5>
    <h8 class="card-subtitle mb-2 text-muted">{{post.timing}}</h8>
    <p class="card-text">{{post.comment}}</p>
  </div>
</div>
    </div>
    <br>
{% endfor %}


{% endblock %}